
Shadow_ProjectZero/Intermediate/CachedAssetRegistry.bin
Shadow_ProjectZero/Saved/Logs/
Shadow_ProjectZero/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Shadow_ProjectZero/Saved/Config/CrashReportClient/
