
Intermediate/CachedAssetRegistry.bin
Saved/Logs/Shadow_ProjectZero.log
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/CrashReportClient/UE4CC-Windows-B84D2D3D4FE49B176A648497DC47D01B/CrashReportClient.ini
Saved/Logs/Shadow_ProjectZero-backup-2020.03.03-09.18.36.log
Saved/Logs/Shadow_ProjectZero-backup-2020.03.02-08.05.47.log

Saved/*
Intermediate/*
Plugins/*/Intermediate/*
DerivedDataCache/*
